<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://unpkg.com/htmx.org@1.8.4"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
            crossorigin="anonymous"></script>
</head>
<body hx-boost="true">
<h1>Christmas Lists</h1>
<h2>Create one</h2>
<form action="/person" method="post">
    <label>
        Your Name: <input type="text" name="name">
    </label>

    <input type="submit">
</form>

<h2>Look at one</h2>

<ul>
    <li th:each="person : ${persons}">
        <a th:href="${'/person/' + person.getId()}" th:text="${person.getName()}"></a>
    </li>
</ul>
</body>
</html>