<html th:replace="~{layout :: layout (~{::title}, ~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Christmas Lists</title>
    <meta name="csrfTokenName" th:content="${_csrf.getHeaderName()}"/>
    <meta name="csrfTokenValue" th:content="${_csrf.getToken()}"/>
</head>
<body hx-boost="true">
<main>
<h1>Christmas Lists</h1>
<h2>Create one</h2>
<div class="error-msg"></div>
<div th:replace="~{person-form}"></div>
<h2>Look at one</h2>

<ul>
    <li th:each="person : ${persons}">
        <a th:href="${'/person/' + person.getId()}" th:text="${person.getName()}"></a>
    </li>
</ul>
</main>

<script type="application/javascript">
    const csrfHeaderName = document.querySelector("[name='csrfTokenName']").content;
    const csrfToken = document.querySelector("[name='csrfTokenValue']").content;
    document.body.addEventListener("htmx:configRequest", evt => {
        evt.detail.headers[csrfHeaderName] = csrfToken;
    });
    document.body.addEventListener("htmx:beforeSwap", evt => {
        if (evt.detail.xhr.status === 422) {
            // allow 422 responses to swap as we are using this as a signal that
            // a form was submitted with bad data and want to rerender with the
            // errors
            //
            // set isError to false to avoid error logging in console
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
    document.body.addEventListener("htmx:responseError", evt => {
        const div = document.createElement("div");
        div.textContent = "An error occurred submitting the form";
        evt.detail.elt.prepend(div);
    });
</script>
</body>
</html>