<html th:fragment="layout (title, content)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}"></title>
    <meta name="csrfTokenName" th:content="${_csrf.getHeaderName()}"/>
    <meta name="csrfTokenValue" th:content="${_csrf.getToken()}"/>
    <script src="https://unpkg.com/htmx.org@1.8.4"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="margin: 0 auto; width: 1000px" hx-boost="true"
            class="container prose prose-img:rounded-xl prose-headings prose-a:text-blue-600 ">
<main th:insert="${content}">
</main>
<script type="application/javascript">
    const csrfHeaderName = document.querySelector("[name='csrfTokenName']").content;
    const csrfToken = document.querySelector("[name='csrfTokenValue']").content;
    document.body.addEventListener("htmx:configRequest", evt => {
        evt.detail.headers[csrfHeaderName] = csrfToken;
    });
    document.body.addEventListener("htmx:beforeSwap", evt => {
        if (evt.detail.xhr.status === 422) {
            // allow 422 responses to swap as we are using this as a signal that
            // a form was submitted with bad data and want to rerender with the
            // errors
            //
            // set isError to false to avoid error logging in console
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        }
    });
    document.body.addEventListener("htmx:responseError", evt => {
        const div = document.createElement("div");
        div.textContent = "An error occurred submitting the form";
        evt.detail.elt.prepend(div);
    });
</script>
</body>
</html>