<html th:replace="~{layout :: layout (~{::title}, ~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${person.getName()} + '\'s list'"></title>
</head>
<body>
<main>
    <a href="/">back</a>
    <section th:object="${person}">
        <h1 th:text="*{getName()}"></h1>
        <p th:text="*{'is buying a present for ' + getBuyingFor()}"></p>
        <ul>
            <li th:each="item : *{items}">
                <span th:text="${item.description}"></span>
                <sl-button
                        hx-target="body"
                        variant="danger"
                        outline
                        th:attr="hx-delete=${'/person/' + person.getId() + '/items/' + item.getId()}"
                >
                    Delete
                </sl-button>
            </li>
            <li>
                <form th:action="${'/person/' + person.getId() + '/items'}" method="post">
                    <label>
                        New Item:
                        <input type="text" name="description"
                               class="rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"/>
                    </label>
                    <sl-button variant="primary" type="submit">Submit</sl-button>
                </form>
            </li>
        </ul>
    </section>
</main>
</body>
</html>