<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Christmas List</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
            crossorigin="anonymous"></script>
</head>
<body hx-boost="true">
<h1 th:text="${person.getName()}"></h1>
<a href="/">back</a>
<section th:object="${person}">
    <ul>
        <li th:each="item : *{items}">
            <span th:text="${item.description}"></span>
            <button
                    hx-target="body"
                    th:attr="hx-delete=${'/person/' + person.getId() + '/items/' + item.getId()}"
                    >
                Delete
            </button>
        </li>
        <li>
            <form th:action="${'/person/' + person.getId() + '/items'}" method="post">
                <label>
                    New Item
                    <input type="text" name="description"/>
                </label>
                <input type="submit" value="Submit">
            </form>
        </li>
    </ul>

</section>
</body>
</html>